---
layout: wrapper
---
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">{{ page.title }}</h1>
                <p class="lead">{{ page.excerpt }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container news">
    <div class="row">
        <div class="col-md-9">
            <div class="video-container">
                {{ page.video }}
            </div>
            {{ content }}
            <div class="alert-info">
                <h2>About</h2>
                <p><a href="/talks">CivicActions Talks</a> are public presentations help us share what’s working and learn from our peers so we can all design and build better government services.</p>
                <div class="post-categories">
                    {% if post %}
                    {% assign categories = post.categories %}
                    {% else %}
                    {% assign categories = page.categories %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="people">
                <p class="text-muted byline">
                    {{ page.date | date: "%B %-d, %Y"}}
                </p>
                <ul class="nav nav-pills">
                    {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{site.baseurl}}/topics/{{category|slugify}}">{{ category | capitalize }}</a></li>
                    {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Related news</h2>
            {% assign maxRelated = 4 %}
            {% assign minCommonTags = 1 %}
            {% assign maxRelatedCounter = 0 %}
            {% for post in site.posts %}
            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}
            {% for category in post.categories %}
            {% if post.url != page.url %}
            {% if page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
            {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if sameTagCount >= minCommonTags %}
            <div>
                <h3><a href="{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <p class="text-muted">{{ post.date | date: "%B, %-d %Y"}}</p>
            </div>
            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
            {% break %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <p><a href="{ site.baseurl }}/news">News</a></p>
        </div>
    </div>
</div>